---
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';
import FormattedDate from '../../components/FormattedDate.astro';
const { frontmatter } = Astro.props;
const allPosts = await Astro.glob('../posts/*.md');
---
<Layout title='Blog'>
    <div data-theme="light" class="w-2/3 m-auto bg-slate-300 rounded-xl p-1 shadow-lg">
        <p  class=" font-bold font-mono  text-center   ">Working in this section...</p>
    </div>
   
    <main>
        <section>
            <ul class="flex flex-wrap gap-3 mt-3 ">
            {allPosts.map((post) => 

           <BlogPost title={post.frontmatter.title} url={post.url} img={post.frontmatter.image.url} description={post.frontmatter.description} tags={post.frontmatter.tags}/>
                //<a href={post.url}>{post.frontmatter.title}</a>
            
            
            )}   
        </ul>
        </section>
    </main>







 
</Layout>