---
const { title, url, img ,description,tags} = Astro.props;

---

    <div class="card m-auto w-2/3 bg-base-300 shadow-xl">
        <a href={url}>
            <figure><img class="" src={img} alt={title} /></figure>
     
            <div class="card-body">
                <h2 class="card-title">
                  {title}
                  <div class="badge badge-secondary">NEW</div>
                  
                </h2>
                <p>{description}</p>
                <div class="card-actions justify-end">
                    {
            
        
                        tags && tags.map((tag: string) => (
                        <div  class="badge badge-outline">{tag}</div>
                                ))
                                
                            }
                </div>
                
               
              </div>
        
        </a>
       
      
    </div>

</a>

    



